<nav class="navbar">
  <ul class="navbar__menu">
    <li class="navbar__item">
      <a href="#" class="navbar__link"><i class="fas fa-home"></i><span>Home</span></a>
    </li>
    <li class="navbar__item">
      <a routerLink="/equipements" class="navbar__link"><i class="fas fa-envelope"></i><span>equipment</span></a>
    </li>
    <li class="navbar__item">
      <a  routerLink="/pannes" class="navbar__link"><i class="fas fa-users"></i><span>panne</span></a>
    </li>
    <li class="navbar__item">
      <a href="#" class="navbar__link"><i class="fas fa-folder"></i><span>utilisateurs</span></a>
    </li>
    <li class="navbar__item">
      <a href="#" class="navbar__link"><i class="fas fa-archive"></i><span>Resources</span></a>
    </li>
    <li class="navbar__item">
      <a href="#" class="navbar__link"><i class="fas fa-question-circle"></i><span>Help</span></a>
    </li>
    <li class="navbar__item">
      <a href="#" class="navbar__link"><i class="fas fa-cogs"></i><span>Settings</span></a>
    </li>
  </ul>
</nav>
