<nav class="navbar">
  <ul class="navbar__menu">
    <li class="navbar__item">
      <a routerLink="/" class="navbar__link"><i class="material-icons">home</i><span>Home</span></a>
    </li>
    <li class="navbar__item">
      <a routerLink="/equipements" class="navbar__link"><i class="material-icons">archive</i><span>Equipment</span></a>
    </li>
    <li class="navbar__item">
      <a routerLink="/pannes" class="navbar__link"><i class="material-icons">build</i><span>Panne</span></a>
    </li>
    <li class="navbar__item">
      <a routerLink="/user_liste" class="navbar__link"><i class="material-icons">people</i><span>Utilisateurs</span></a>
    </li>
    <li class="navbar__item">
      <a routerLink="/techniciens" class="navbar__link"><i class="material-icons">storage</i><span>Techniciens</span></a>
    </li>
    <li class="navbar__item">
      <a routerLink="/tickets" class="navbar__link"><i class="material-icons">storage</i><span>Tickets</span></a>
    </li>
    <li class="navbar__item">
      <a routerLink="/help" class="navbar__link"><i class="material-icons">help</i><span>Help</span></a>
    </li>
    <li class="navbar__item">
      <a routerLink="/settings" class="navbar__link"><i class="material-icons">settings</i><span>Settings</span></a>
    </li>
  </ul>
</nav>
