<div class="container">
  <h2>Tickets</h2>
  <div class="cards">
    <div class="card" style="width: 17rem;" *ngFor="let ticket of Tickets">
      <div class="card-body">
        <label of="equipement">Equipement</label>
        <label of="Description">Description</label>
        <p name="Description" class="card-text">{{ticket.description}}</p>
        <label of="Date">Date</label>
        <p name="Date" class="card-text">{{ticket.dateDeCreation}}</p>
        <label of="Panne">Panne</label>
        <h5 name="Panne" class="card-title">{{ ticket.panne.name }}</h5>
        <label of="Etat">Etat</label>
        <p name="Etat" class="card-text">{{ticket.etatTicket}}</p>
        <label of="Utilisateur">Utilisateur</label>
        <h5 name="Utilisateur" class="card-title">{{ ticket.user.nom }}</h5>
        <label of="Technicien">Technicien</label>
        <h5 name="Technicien" class="card-title">{{ ticket.technicien.nom }}</h5>
        <a href="#" class="btn">Assinger Tichnicien</a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
