/* General Container Styling */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 20px;
}

/* Heading Styling */
h2 {
  color: #1F316F;
  text-align: center;
  margin-top: 2%;
  font-size: 24px;
}

/* Card Container Styling */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Card Styling */
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* Card Body Styling */
.card-body {
  padding: 15px;
  text-align: left;
}

/* Label Styling */
label {
  display: block;
  font-weight: bold;
  color: #1F316F;
  margin-top: 10px;
}

/* Card Title Styling */
.card-title {
  color: #021526;
  font-size: 18px;
  margin-bottom: 10px;
}

/* Card Text Styling */
.card-text {
  font-size: 14px;
  color: #021526;
  margin-bottom: 10px;
}

/* Button Styling */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #1F316F;
  color: white;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #14244a;
}
