
<div class="container">
  <h2>Techniciens</h2>
  <a routerLink="addtech" style="width: 20%" class="btn btn-success">Ajouter Technicien</a>
  <div class="cards">
    <div class="card" style="width: 17rem;" *ngFor="let technicien of Techniciens">
      <div class="card-body">
        <label of="fullName">FullName</label>
        <h5 name="fullName" class="card-title">{{ technicien.nom }}</h5>
        <label of="Id">Id</label>
        <p name="Id" class="card-text">{{technicien.id}}</p>
        <label of="Email">Email</label>
        <p name="Email" class="card-text">{{technicien.email}}</p>
      </div>
    </div>
  </div>
</div>
